@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Outfit, sans-serif;
  --font-mono: Roboto Mono, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Lora, serif;
  --radius: 1.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 1.25rem;
  --background: oklch(0.968 0.007 247.896);
  --foreground: oklch(0.268 0.007 34.298);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(0.969 0.016 293.756);
  --popover-foreground: oklch(0.381 0.176 304.987);
  --primary: oklch(0.5412 0.1606 284.7724);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8986 0.0569 298.6329);
  --secondary-foreground: oklch(0.283 0.141 291.089);
  --muted: oklch(0.923 0.003 48.717);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.93 0.034 272.788);
  --accent-foreground: oklch(0.491 0.27 292.581);
  --destructive: oklch(0.586 0.253 17.585);
  --border: oklch(0.869 0.005 56.366);
  --input: oklch(0.894 0.057 293.283);
  --ring: oklch(0.702 0.183 293.541);
  --chart-1: oklch(0.792 0.209 151.711);
  --chart-2: oklch(0.645 0.246 16.439);
  --chart-3: oklch(0.623 0.214 259.815);
  --chart-4: oklch(0.852 0.199 91.936);
  --chart-5: oklch(0.894 0.057 293.283);
  --sidebar: oklch(0.943 0.029 294.588);
  --sidebar-foreground: oklch(0.216 0.006 56.043);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.894 0.057 293.283);
  --sidebar-accent-foreground: oklch(0.291 0.149 302.717);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0 0 0);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Outfit, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --shadow-color: #543781;
  --shadow-opacity: 0.19;
  --shadow-blur: 10.5px;
  --shadow-spread: -1px;
  --shadow-offset-x: 1.5px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 1.5px 3px 10.5px -1px hsl(263.5135 40.2174% 36.0784% / 0.1);
  --shadow-xs: 1.5px 3px 10.5px -1px hsl(263.5135 40.2174% 36.0784% / 0.1);
  --shadow-sm: 1.5px 3px 10.5px -1px hsl(263.5135 40.2174% 36.0784% / 0.19),
    1.5px 1px 2px -2px hsl(263.5135 40.2174% 36.0784% / 0.19);
  --shadow: 1.5px 3px 10.5px -1px hsl(263.5135 40.2174% 36.0784% / 0.19),
    1.5px 1px 2px -2px hsl(263.5135 40.2174% 36.0784% / 0.19);
  --shadow-md: 1.5px 3px 10.5px -1px hsl(263.5135 40.2174% 36.0784% / 0.19),
    1.5px 2px 4px -2px hsl(263.5135 40.2174% 36.0784% / 0.19);
  --shadow-lg: 1.5px 3px 10.5px -1px hsl(263.5135 40.2174% 36.0784% / 0.19),
    1.5px 4px 6px -2px hsl(263.5135 40.2174% 36.0784% / 0.19);
  --shadow-xl: 1.5px 3px 10.5px -1px hsl(263.5135 40.2174% 36.0784% / 0.19),
    1.5px 8px 10px -2px hsl(263.5135 40.2174% 36.0784% / 0.19);
  --shadow-2xl: 1.5px 3px 10.5px -1px hsl(263.5135 40.2174% 36.0784% / 0.47);
  --tracking-normal: 0.025em;
}

.dark {
  --background: oklch(0.1551 0.04 296.2106);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2399 0.0309 298.3945);
  --card-foreground: oklch(0.969 0.016 293.756);
  --popover: oklch(0.2161 0.0337 299.8158);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3863 0.0912 300.1132);
  --secondary-foreground: oklch(0.977 0.014 308.299);
  --muted: oklch(0.3266 0.0551 298.1378);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.291 0.149 302.717);
  --accent-foreground: oklch(0.977 0.014 308.299);
  --destructive: oklch(0.637 0.237 25.331);
  --border: oklch(0.3954 0.0323 296.9588);
  --input: oklch(0.2515 0.1074 291.1931);
  --ring: oklch(0.6233 0.1302 287.1945);
  --chart-1: oklch(0.792 0.209 151.711);
  --chart-2: oklch(0.704 0.191 22.216);
  --chart-3: oklch(0.5465 0.2299 299.0652);
  --chart-4: oklch(0.9022 0.1723 97.1055);
  --chart-5: oklch(0.811 0.111 293.571);
  --sidebar: oklch(0.2349 0.0213 297.2344);
  --sidebar-foreground: oklch(0.9551 0 0);
  --sidebar-primary: oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3548 0.0854 303.0381);
  --sidebar-accent-foreground: oklch(0.946 0.033 307.174);
  --sidebar-border: oklch(0.2399 0.0309 298.3945);
  --sidebar-ring: oklch(0.606 0.25 292.717);
  --destructive-foreground: oklch(1 0 0);
  --radius: 1.25rem;
  --font-sans: Outfit, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.19;
  --shadow-blur: 10.5px;
  --shadow-spread: -1px;
  --shadow-offset-x: 1.5px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 1.5px 3px 10.5px -1px hsl(0 0% 10.1961% / 0.1);
  --shadow-xs: 1.5px 3px 10.5px -1px hsl(0 0% 10.1961% / 0.1);
  --shadow-sm: 1.5px 3px 10.5px -1px hsl(0 0% 10.1961% / 0.19),
    1.5px 1px 2px -2px hsl(0 0% 10.1961% / 0.19);
  --shadow: 1.5px 3px 10.5px -1px hsl(0 0% 10.1961% / 0.19),
    1.5px 1px 2px -2px hsl(0 0% 10.1961% / 0.19);
  --shadow-md: 1.5px 3px 10.5px -1px hsl(0 0% 10.1961% / 0.19),
    1.5px 2px 4px -2px hsl(0 0% 10.1961% / 0.19);
  --shadow-lg: 1.5px 3px 10.5px -1px hsl(0 0% 10.1961% / 0.19),
    1.5px 4px 6px -2px hsl(0 0% 10.1961% / 0.19);
  --shadow-xl: 1.5px 3px 10.5px -1px hsl(0 0% 10.1961% / 0.19),
    1.5px 8px 10px -2px hsl(0 0% 10.1961% / 0.19);
  --shadow-2xl: 1.5px 3px 10.5px -1px hsl(0 0% 10.1961% / 0.47);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

/* Dots Loader */
.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
/* Dots Loader */
